* {
    padding: 0;
    margin: 0;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

body {
    /*background-color: red;*/
}


/*头部*/

header {
    position: fixed;
    top: 0;
    height: 30px;
    background-color: #b1b1b1;
    opacity: 0.7;
}

.nav-menu {
    margin-left: 5px;
    width: 100%;
}


/*页面*/

.showpage {
    /*display:none;*/
    text-align: center;
    color: white;
    overflow: hidden;
}

.firstpage h1 {
    font-family: cursive, 'Lato', sans-serif;
    color: white;
}

.showpage:first-child {
    display: block;
    background: url('../img/think.png');
}

.myself {
	height: 70%;
    position: relative;
    text-align: center;
}


/*个人经历*/

.showpic img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    /*position: relative;*/
    /*bottom: -145px;*/
}


/*作品展示*/
.wapper{
	height: 100%;
	width: 100%;
}

.rotate{
	height: 100%;
	width: 100%;
}

.item{
	height: 100%;
	width: 92%;
	position: absolute;
	float: left;
}

.item img {
	height: 100%;
	width: 100%;
}


/*翻页*/

.pagechange {
    display: block;
    position: fixed;
    bottom: 3px;
    width: 50%;
    height: 20px;
    /*background-color: red;*/
    left: 25%;
}

.goTop{
	display: none;
}

.sidebar{
	display: none;
}

.adviceshow{
	display: none;
}